@import 'tailwindcss';

@theme {
  --gray-100: #e6e9f0;
  --gray-200: #cdd3e1;
  --gray-300: #aab3cc;
  --gray-400: #555f7d;
  --gray-500: #454f6a;
  --gray-600: #363d56;
  --gray-700: #272f43;
  --gray-800: #181f2e;
  --gray-900: #0a0f1a;

  --primary-light: #4de7b7;
  --primary: #0da170;
  --primary-dark: #065f46;
  --link-color: #10b981;
  --link-hover: #0b8a60;

  --success: #22c55e;
  --warning: #eab308;
  --error: #991b1b;
  --info: #0ea5e9;

  --text-over-primary: #0a0f1a;
  --text-over-primary-dark: #e6e9f0;
  --text-over-primary-light: #0a0f1a;
  --text-over-success: #0a0f1a;
  --text-over-warning: #0a0f1a;
  --text-over-error: #e6e9f0;
  --text-over-info: #0a0f1a;
  --text-default: #e6e9f0;
  --text-muted: #aab3cc;
  --disabled: #555f7d;
  --text-disabled: #aab3cc;

  --font-sans: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@theme inline {
  --color-gray-100: var(--gray-100);
  --color-gray-200: var(--gray-200);
  --color-gray-300: var(--gray-300);
  --color-gray-400: var(--gray-400);
  --color-gray-500: var(--gray-500);
  --color-gray-600: var(--gray-600);
  --color-gray-700: var(--gray-700);
  --color-gray-800: var(--gray-800);
  --color-gray-900: var(--gray-900);

  --color-primary-light: var(--primary-light);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-link-color: var(--link-color);
  --color-link-hover: var(--link-hover);

  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-error: var(--error);
  --color-info: var(--info);

  --color-over-primary: var(--text-over-primary);
  --color-over-primary-dark: var(--text-over-primary-dark);
  --color-over-primary-light: var(--text-over-primary-light);
  --color-over-success: var(--text-over-success);
  --color-over-warning: var(--text-over-warning);
  --color-over-error: var(--text-over-error);
  --color-over-info: var(--text-over-info);
  --color-default: var(--text-default);
  --color-muted: var(--text-muted);
  --color-bg-disabled: var(--disabled);
  --color-disabled: var(--text-disabled);

  --font-sans: var(--font-sans);
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: var(--color-gray-900);
  font-family: var(--font-sans);
  color: var(--color-default);
}
